@model IEnumerable<GCBA.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerLongId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLongId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <td>@Html.ActionLink("Open Savings Account", "CreateSavings", new { id = item.ID })</td>
                <td>@Html.ActionLink("Open Current Account", "CreateCurrent", new { id = item.ID })</td>
                
            </td>
        </tr>
    }

</table>